<div class="container bootstrap snippet">
  <h1 style="padding: 20px 0px; margin-top: 30px;">Give Tokens</h1>

  <div class="row">
    <div class="col-sm-9">

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <hr>
          <form class="form" action="##" method="post" id="registrationForm" *ngIf="currentUser">
            <div class="form-group">

              <div class="col-xs-6">
                <h4 style="display:inline-block">Allotment Per Month: </h4>
                <h4 style="display:inline-block; padding-left: 20px">{{tokenStats.amtAllotedPeriod}}</h4>
              </div>
            </div>

            <hr />
            <div class="form-group">

              <div class="col-xs-6">
                <h4 style="display: inline-block">Giveaway Bank: </h4>
                <h4 style="display: inline-block; padding-left: 20px">{{tokenStats.amtAvailToGivePeriod}}</h4>
              </div>
            </div>

            <hr />

            <div class="form-group" *ngIf="users">
              <h4>Award Tokens</h4>
              <select [(ngModel)]="awardToUser" [ngModelOptions]="{standalone: true}" style="width: 300px; padding: 5px 10px">
                <option *ngFor="let user of users" [value]="user.userId">{{user.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <h4>Token Award Amount</h4>
                <input [(ngModel)]="tokenAwardAmount" type="number" class="form-control" name="award-token-amount" id="award-token-amount" placeholder="all the tokens" [ngModelOptions]="{standalone: true}">
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <h4>Award Reason</h4>
                <textarea [(ngModel)]="awardReason" type="number" class="form-control" name="award-reason" id="award-reason" placeholder="you're totally awesome!" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <br>
                <button class="btn btn-lg btn-success bg-beyond-orange" [disabled]="tokenAwardAmount>tokenStats.amtAvailToGivePeriod" (click)="submit()"><i class="glyphicon glyphicon-ok-sign"></i> Submit</button>
              </div>
            </div>
          </form>

          <hr>

        </div><!--/tab-pane-->

      </div><!--/tab-content-->
    </div><!--/col-9-->
  </div><!-- row -->
</div>
